
  .slide {
    width: 100%;
    height: 100%;
    position: absolute;
    opacity: 0;
    transition: opacity ease-in-out 0.4s;
    padding: 60px 120px;
  }

  .innerSlider {
    display: flex;
    justify-content: space-between;
    gap: 20px;
  }

  .activeAnim {
    opacity: 1;
  }
  
  .imageSlider {
    width: 50%;
    border-radius: 16px;
  }

  .mainSlider {
    position: relative;
  }

  .titles {
    display: flex;
    flex-direction: column;
    gap: 40px;
  }

  .arrowBtn {
    display: flex;
    gap: 10px;
  }


.buttonShop {
  width: 160px;
  padding: 10px 20px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: #000;
  border-radius: 10px;
  display: block;
  border: 0px;
  font-weight: 700;
  box-shadow: 0px 0px 14px -7px #f09819;
  background-image: linear-gradient(45deg, #F3A847 0%, #ffaa34  51%, #F3A847  100%);
  cursor: pointer;

}

  @media screen and (max-width: 991px) {
    .slide {
      padding: 60px 60px;
    }

    .titles {
      gap: 30px;
      h1 {
        font-size: 40px;
      }
      h2 {
        font-size: 16px;
      }
    }

    .buttonShop {
      margin-bottom: 20px;
    }
    
    .arrowBtn {
      display: flex;
      justify-content: center;
      align-items: center;
      padding-bottom: 15px;
    }

    .imageSlider {
      width: 100%;
    }

    .innerSlider {
      flex-direction: column;
    }
  }